{% verbatim %}
<!DOCTYPE html>
<html>
<head>
	<title>Angular</title>
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script type="text/javascript">
		app = angular.module('myApp',[]);
		


		app.controller('myCtrl', function($scope, $http){
			// $http.get('content.txt').then(function(response){
			// 	$scope.snippet = response.data;
			// })

			$http({
				
				method : 'GET',
				url : 'http://192.168.1.135:8080/quickstart/clssnippets/'
				// url : '{% url 'snippet-list' %}'
			}).
			then(function successCallback(response){
				$scope.snippet = response.data;
			}, function errorCallback(response){
				$scope.snippet = response.statusText;
			});
		});
	</script>
</head>
<body>
<div ng-app='myApp' ng-controller='myCtrl'>
	<table>
		<th>Id</th>
		<th>Title</th>
		<th>Owner</th>
		<tr ng-repeat='details in snippet.results'>
			<td>{{details.id}}</td>
			<td>{{details.title}}</td>
			<td>{{details.owner}}</td>
		</tr>
	</table>
	{{snippet.count}}
</div>

</body>
</html>

{% endverbatim %}